# fly.toml app configuration file generated for image-generator-okrusqmm on 2025-12-03T00:21:48Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'image-generator-okrusqmm'
primary_region = 'fra'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 8
  memory_mb = 16384
